@media screen and (max-width:768px){
  .wrap{
    padding: 0 15px;
  }
  main .wrap{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  aside{
    display: none;
  }
  /*  상단영역   */
  header .wrap nav ul.gnb{
    display: none;
  }
  header .wrap nav ul.enb{
    display: none;
  }
  header .wrap nav{    
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 50px;
  }
  header .wrap nav h1{    
    grid-column: 2;
    grid-row: 1;
  }
  header .wrap nav h1::before{
    height: 100%;
  }
  .ham{    
    display: flex;
    grid-column: 1;
    position: relative;
  }
  header .wrap nav h2{    
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
  }
  /*  타이틀 영역  */
  div#subtitle .wrap .slick-dots{    
    bottom: 2.34375vw;
  }
  div#subtitle button::before{    
    font-size: 1.302083333333333vw;
  }
  /* 메인영역   */
  #product .wrap h2{  
    font-size: calc(25px * 0.5);
  }
  #product ul.list{    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
  }
  #product ul.list li:nth-child(1){ 
    grid-column: 1;
    grid-row: 1;
  }
  #product ul.list li:nth-child(2){
    grid-column: 2;
    grid-row: 1 / span 2;
  }
  #product ul.list li:nth-child(3){
    grid-column: 1;
    grid-row: 2;
  }
  #product ul.list li:nth-child(4){
    grid-column: 1;
    grid-row: 4;
  }
  #product ul.list li:nth-child(5){
    grid-column: 2;
    grid-row: 4;
  }
  #product ul.list li:nth-child(6){
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  #product ul.list li:nth-child(7){
    grid-column: 1;
    grid-row: 5;
  }
  #product ul.list li:nth-child(8){
    grid-column: 1 /span 2;
    grid-row: 6;
  }
  #product ul.list li:nth-child(9){
    grid-column: 2;
    grid-row: 5;
  }
  #product ul.list li h3{    
    font-size: calc(30px * 0.6);
  }
  #product ul.list li p{    
    font-size: 12px;
  }
  /* sns영역   */
  #sns h2{    
    font-size: calc(28px * 0.7);
  }
  #sns ul.snsani{    
    margin-top: 0;
  }
  .snsani li a::before{
    width: calc(100px *0.7);
    height: calc(100px *0.7);
  }
  #sns .slick-dots li button::before{   
    margin: 0;
  }
  /*  하단영역  */
  footer div.wrap{
    padding-top:20px;
    padding-bottom:20px;
  }
  footer div.wrap ul.fnb li ul.sublist,footer div.wrap ul.fnb li:nth-child(1) ul.sublist{
    display: none;
  }
  footer div.wrap ul.fnb li h2 a{
    font-size: 11px;
  }
  footer div.wrap ul.fnb2 li:nth-child(5){
    display: none;
  }
  footer div.wrap ul.fnb2 li:nth-child(6){
    display: none;
  }
  footer div.wrap ul.fnb2 li:nth-child(8){
    display: none;
  }
  footer div.wrap ul.fnb2 li:nth-child(9){
    display: none;
  }
  footer div.wrap ul.fnb2 li a{
    padding: 0 5px;
    font-size: 9px;
  }
  footer div.wrap address{
    line-height: 1.2;
    margin-top: 20px;
  }
  footer .btop{
    display: none;
  }
